@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

@font-face {
    font-family: 'montserrat';
    src: url('../css/montserrat2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../css/montserrat4.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../css/montserrat.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../css/montserrat3.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container_1 {
    width: 1366px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    height: 800px;
    background-image: url('../img/slider-img.jpg')
}

.header .logo {
    margin-top: 63px;
    margin-left: 98px;
}

#menu {
    float: right;
    margin-right: 200px;
    margin-top: 61px;
}

#menu ul li {
    list-style: none;
    display: inline-block;
}

#menu ul li a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    padding: 15px;
}

#menu ul li a:active,
#menu ul li a:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

#menu li a.tab0 {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.text {
    width: 500px;
    margin-top: 267px;
    margin-left: 98px;
    letter-spacing: 1.5px;
}

.text h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
}

.text h1 {
    color: #212121;
    font-size: 62px;
    text-transform: uppercase;
    margin-top: -10px;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: -3.1px;
}

.text p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-top: 14px;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.text a {
    margin-top: 32px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 45px;
    width: 182px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    padding-left: 30px;
}

.icon-right-open {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: -4px;
    right: 0px;
}

.icon-right-open:hover::after,
.icon-right-open2:hover::after,
.icon-right-open3:hover::after {
    position: absolute;
    top: 1px;
    right: 15px;
    content: '\e802';
    font-family: "montserrat";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
}

.text a:hover {
    box-shadow: 1px 4px 10px 1px rgba(33, 33, 33, 0.35);
}

.text a:active {
    box-shadow: none;
}

.scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 120px;
    padding: 0 47.5% 0 47.5%;
    position: relative;
    top: 142px;
    right: 28px;
}

.scroll-link {
    display: block;
    width: 33px;
    height: 33px;
    background-color: #c6c6c6;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms;
}

.act-scroll,
.scroll-link:hover {
    background-color: #1c1c1c;
    transform: scale(1.2);
    transition: all 300ms;
}

.icon-search {
    display: block;
    content: '\e801';
    text-decoration: none;
    color: #000000;
    font-size: 30px;

}


.icon-search:before {
    content: '\e801';
    position: relative;
    float: right;
    right: 167px;
    top: -27px;

}

.container2 {
    width: 1366px;
    margin: 0 auto;
}

.header2 {
    position: relative;
    background-color: #ffffff;
}

.wrapper {
    position: relative;
    width: 1171px;
    height: 369px;
    left: 60px;
    top: 110px;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px 0px 5px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    line-height: 50px;
    position: relative;
    left: 40px;
    top: -10px;
}

.wrapper .hr0 {
    height: 1px;
    background-color: #6c6c6c;
    margin-left: 30px;
    width: 300px;
    border: none;
}

.wrapper .hr1 {
    height: 3px;
    width: 187px;
    background-color: #212121;
    margin-left: 30px;
    margin-top: -3px;
    border: none;
    display: none;
}

.wrapper .hr2 {
    height: 3px;
    width: 113px;
    background-color: #212121;
    border: none;
    margin-left: 217px;
    margin-top: -3px;
    display: none;
}

.wrapper input {
    display: none;
}

.wrapper input:checked+label {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    line-height: 50px;
}


.wrapper input[id="tab-1"]:checked~.content .tab-1,
.wrapper input[id="tab-2"]:checked~.content .tab-2,
.wrapper input[id="tab-1"]:checked~.hr1,
.wrapper input[id="tab-2"]:checked~.hr2 {
    display: block;
}

.wrapper .content {
    clear: both;
    position: relative;
}

.wrapper article {
    width: 1270px;
    height: 270px;
    position: absolute;
    top: 50px;
    left: 5px;
    display: none;
}

.exp-link {
    float: right;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: -235px;
    right: 115px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}


.exp-link:hover::after,
.exp-link2:hover::after {
    position: absolute;
    top: 0px;
    right: -30px;
    content: '\e802';
    font-family: "montserrat";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

.info {
    z-index: -1;
    position: relative;
    top: 0px;
    height: 270px;
    width: 270px;
}


.feat-good {
    position: absolute;
    top: 62px;
    left: 111px;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    background-color: white;
    z-index: 1;
    background: url('../img/back.png') center no-repeat;
}

.feat-good::after {
    text-decoration: none;
    color: #212121;
    position: absolute;
    top: 17px;
    right: 18px;
    content: '\e802';
    font-family: "montserrat";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

.product img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;

}

.product:hover img {
    top: 0px;
    left: 0px;
    display: inline-block;
    opacity: 0.1;
    outline: 2px solid #8c8c8c;
}

.product:hover .info {
    z-index: 1;
}

.info h3 {
    position: absolute;
    top: 119px;
    left: 63px;
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    transform: scaleX(1.0041);
}

.info p {
    position: absolute;
    top: 152px;
    left: 32px;
    width: 210px;
    text-align: center;
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    transform: scaleX(1.0041);
}

.tab-1,
.tab-2 {
    height: 271px;
    width: 1171px;
}

.tab-1 .product,
.tab-2 .product {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    border: solid 1px #dfdcdc;
}

.two-screens {
    position: relative;
    top: 240px;
    width: 1600px;
}

.first-scr {
    position: absolute;
    display: inline-block;
}

.second-scr {
    display: inline-block;
    position: absolute;
    left: 683px;
}

.first-scr h3,
.second-scr h3 {
    position: relative;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    bottom: 475px;
    left: 51px;
}

.first-scr h2,
.second-scr h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    position: relative;
    bottom: 480px;
    left: 50px;
    letter-spacing: -1px;
}

.first-scr p,
.second-scr p {
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    position: relative;
    bottom: 470px;
    left: 51px;
    width: 385px;
}

.first-scr a,
.second-scr a {
    position: relative;
    bottom: 445px;
    left: 51px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 45px;
    width: 182px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    padding-left: 30px;
}

.first-scr a:hover,
.second-scr a:hover {
    box-shadow: 1px 4px 10px 1px rgba(33, 33, 33, 0.35);
}

.first-scr a:active,
.second-scr a:active {
    box-shadow: none;
    background-repeat: no-repeat;
}

.trend-prod {
    position: relative;
    top: 1035px;
    width: 1310px;
    left: 98px;
    letter-spacing: -1px;
}

.text-tr {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    position: relative;
}

.trend-prod .exp-link2 {
    position: relative;
    top: -22px;
    right: 155px;

}

.exp-link2 {
    float: right;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    margin-bottom: -24px;
}

.trend-prod img {
    display: inline-block;
    position: relative;
    top: 64px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.slider2 {
    position: relative;
    top: 50px;
}

.text-sl2 {
    position: relative;
    bottom: 300px;
}

.container3 {
    width: 1366px;
    margin: 0 auto;
    position: relative;
    top: 1133px;
}

.slider2 .scroll {
    position: relative;
    top: 30px;
}

.text-sl2 h3 {
    position: relative;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    bottom: 235px;
    left: 99px;
    letter-spacing: 1px;
}

.text-sl2 h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    bottom: 245px;
    left: 100px;
    letter-spacing: -3.5px;
}

.text-sl2 p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    position: relative;
    bottom: 230px;
    left: 98px;
    width: 478px;
}

.text-sl2 .icon-right-open {
    position: relative;
    top: -200px;
    left: 98px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 45px;
    width: 182px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    padding-left: 30px;
}

.text-sl2 .icon-right-open:hover {
    box-shadow: 1px 4px 10px 1px rgba(33, 33, 33, 0.35);
}

.text-sl2 .icon-right-open:active {
    box-shadow: none;
    background-repeat: no-repeat;
}

.container4 {
    width: 900px;
    position: relative;
    top: -75px;
    left: 98px;
}

.trend-prod img {
    text-decoration: none;
    display: inline-block;
}

.trend-prod img:hover {
    box-shadow: 1px 4px 10px 1px rgba(33, 33, 33, 0.35);
}

.exc-block {
    position: absolute;
}

.exc-block h3 {
    position: relative;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    bottom: 405px;
    left: 31px;
    letter-spacing: 1px;
}

.exc-block h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    position: relative;
    bottom: 412px;
    left: 30px;
    letter-spacing: -1px;
}

.exc-block p {
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    position: relative;
    bottom: 402px;
    left: 30px;
    width: 340px;
}

.exc-block .icon-right-open {
    position: relative;
    top: -375px;
    left: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 45px;
    width: 182px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    padding-left: 30px;
}

.exc-block a:hover {
    box-shadow: 1px 4px 10px 1px rgba(33, 33, 33, 0.35);
}

.exc-block a:active {
    box-shadow: none;
    background-repeat: no-repeat;
}

.img4 {
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 570px;
}

.img4:hover {
    box-shadow: 1px 4px 10px 1px rgba(33, 33, 33, 0.35);
}

.app {
    position: relative;
    left: -99px;
    top: 80px;
    width: 410;
}

.app h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    margin-top: -10px;
    letter-spacing: 1px;
}

.app h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
    margin-top: -10px;
    letter-spacing: -4px;
    margin-bottom: 10px;
}

.app p {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 33px;
}

.app a {
    margin-right: 10px;
}

.app>h2,
.app>h3,
.app>p,
.app>a {
    position: relative;
    left: 98px;
    top: -400px;
    width: 500px;
}

.footer {
    margin: 0 auto;
    background-color: #f7f7f7;
    width: 1366px;
    height: 384px;
    position: relative;
    top: 720px;
    margin-top: 135px;
}

.foot-col1 {
    position: relative;
    top: -5px;
    left: 10px;
    margin-left: 90px;
    width: 230px;
}

.foot-col1 h3 {}

.foot-col1 p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-bottom: 25px;
}

.foot-col1,
.foot-col2,
.foot-col3 {
    display: inline-block;
    margin-top: 110px;
}

.footer h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.foot-col2 {
    width: 432px;
    margin-left: 75px;
    position: relative;
    top: -40px;
}

.foot-col2 li a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.foot-col2 li {
    list-style: none;
}

.col1 {
    display: inline-block;
    width: 132px;
}

.col2 {
    display: inline-block;
    width: 187px;
    margin-left: 103px;
}

.foot-st {}

.foot-col3 {
    width: 370px;
    margin-left: 63px;
    position: relative;
    top: 5px;
}

.foot-col3 p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-bottom: 43px;
}

.input {
    position: relative;
    top: -20px;
    width: 370px;
    height: 48px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
}


.icon-paper-plane:before {
    content: '\f1d8';
    position: relative;
    float: right;
    right: 15px;
    top: -54px;
    display: block;
    text-decoration: none;
    color: #6c6c6c;
}

.copy {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    display: block;
    text-transform: uppercase;
    position: relative;
    top: 30px;
    left: 100px;
    letter-spacing: 0.5px;
}

.term-pol a {
    text-decoration: none;
    position: relative;
    top: -20px;
    left: 920px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.soc-net {
    text-align: center;
    position: relative;
    top: 5px;
    left: 3px;;
}
.soc-net a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 28px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-right: 3px;
}

.icon-twitter-circled:before {
    content: '\f30a';

}

.icon-facebook-circled:before {
    content: '\f30d';
}

.icon-gplus-circled:before {
    content: '\f310';
}

.icon-pinterest-circled:before {
    content: '\f313';
}